body {
    background-color: #1e1e1e;
    color: #fff;
}
select{
  color:#000;
}
a {
    color: #fff;
}
/* NAV BAR STYLES */
.icon-bar{
  background-color: #fff;
}

.navbar-brand {
    background-color: #d52b1e;
    height: 88px;
    padding: 28px 10px;
}
.navbar {
    height: 88px;
    font-size: 12px;
}
.nav.navbar-nav>li>a {
    padding: 34px 27px;
}
.nav.navbar-nav>li>a:hover {
    background-color: inherit;
}
.navbar .form-control {
    border-radius: 0;
}
.search-form {
    padding: 20px 0;
}
.navbar input[type=text]{
  width: 105px;
}
.btn.search-button {
    border-radius: 0;
    background-color: #d52b1e;
    color: #fff;
    margin-left: -4px;
}
.phone-number {
    color: #d52b1e;
    display: inline-block;
    margin-right: 10px;
}
.site-utility {
    padding-top: 25px;
    text-align: right;
}
.sign-in {
    display: inline-block;
    margin-right: 10px;
}
.dealer-locator {
    display: inline-block;
    margin-left: 10px;
}
/* filter styles */
.filters label{
  display:block;
}
.filters select {
  margin-bottom:20px;
}
/* Product styles */
.products img{
  width:100%;
}

/* popup styles */
.modal-dialog {
  color: #000;
}


/* Footer styles */
footer{
  margin:20px 20px 0 20px;
  padding:60px 20px;
  text-align:center;
  background-color:#000;
  border-top:solid 1px #505050;
}
footer img{
  margin-bottom:20px;
}

/* media queries */
@media only screen and (max-width: 768px) {
  .navbar-collapse{
    position: absolute;
    height: auto;
    background-color: #000;
    z-index: 10;
    width: 100%;
  }
}
@media only screen and (max-width: 1050px) and
(min-width:768px) {
  .nav.navbar-nav>li>a {
      padding: 34px 10px;
  }

}
