<!doctype html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/fender-styles.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>
    <script src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/productService.js"></script>
    <script src="js/productGrid.js"></script>
    <script src="js/nav.js"></script>
</head>

<body ng-app="fenderApp">
    <div class="container-fluid">
        <nav class="navbar" ng-controller="CollapseDemoCtrl">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img alt="Fender" src="img/fender-logo.png" /></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" uib-collapse="isCollapsed">
                    <ul class="nav navbar-nav">
                        <li><a href="#">PRODUCTS</a></li>
                        <li><a href="#">CUSTOMIZE</a></li>
                        <li><a href="#">MUSIC</a></li>
                        <li><a href="#">PLAY</a></li>
                        <li><a href="#">CONNECT</a></li>
                    </ul>
                    <form class="navbar-form navbar-left search-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                              <button type="submit" class="btn search-button"><span class="glyphicon glyphicon-search"></span></button>
                        </div>

                    </form>
                    <div class="nav site-utility navbar-right">
                        <p>
                            <a class="sign-in" href="#">SIGN IN</a> / <a class="dealer-locator" href="#">DEALER LOCATOR</a>
                        </p>
                        <p>
                            <span class="glyphicon glyphicon-earphone"></span> <span class="phone-number">1-844-202-0924</span> VIEW CART <span class="glyphicon glyphicon-shopping-cart"></span> (0)
                        </p>
                    </div>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <main>
            <product-grid></product-grid>
            <footer>
                <img src="img/fender-footer-logo.gif" />
                <ul class="list-inline">
                    <li>Copyright © 2016 Fender Musical Instruments Corporation. All Rights Reserved.</li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Supply Chain Transparency</a></li>
                </ul>
            </footer>
        </main>
    </div>
</body>
<script type="text/ng-template" id="product-grid-template.html">
    <div class="row">
        <div class="form-group col-md-3 filters">

            <label for="series-filter">Series</label>

            <select id="series-filer" ng-change="seriesChange()" ng-model="seriesOption">
                <option value="">Select</option>
                <option value="classic">Classic</option>
                <option value="vintage_modified_models">Vintage Modified Models</option>
                <option value="plates_covers">Plates & Covers</option>
                <option value="artist">Artist</option>
                <option value="miscellaneous_parts">Miscellaneous Parts</option>
                <option value="mounting_hardware">Mounting Hardware</option>
                <option value="standard">Standard</option>
                <option value="american_standard">American Standard</option>
                <option value="knobs_kits_pickup_covers">Knobs, Kits, & Pickup Covers</option>
                <option value="pickguards_backplates">Pickguards & Backplates</option>
            </select>

            <label for="category-filter">Product Category</label>
            <select id="category-filer" ng-change="categoryChange()" ng-model="categoryOption">
                <option value="">Select</option>
                <option value="guitars">Guitars</option>
                <option value="guitar_and_bass_parts">Guitar and Bass Parts</option>
            </select>
        </div>
        <div class="col-md-9 products">
            <div class="col-md-3" ng-repeat="product in products | filter:seriesOption:strict | filter:categoryOption:strict" ng-click="details(product)">
                <h3>{{product.productDisplayName_en}}</h3>
                <h5>{{product.series}}</h5>
                <img ng-src="{{product.images[0]}}" />
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="details-template.html">
    <div class="modal-header">
        <h3 class="modal-title">{{product.productDisplayName_en}}</h3>
    </div>
    <div class="modal-body">
        <img ng-src="{{product.images[0]}}" /> {{product.series}}
    </div>
</script>

</html>
